body {
    font-family: 'Protest Revolution', sans-serif;
    text-align: center;
    background-color: plum;

}

h1 {
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: palegreen;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

p {
    margin: 20px;
    font-size: 15px;
}